@page
@model MiniSpaceWiki.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>MiniSpaceWiki</h1>
<p>
    Приветствую вас на MiniSpaceWiki, это место где вы можете узнать много новой информации из сферы астрономии и космоса. Здесь вы можете просматривать и анализировать космическую погоду и разные ее проявления, такие как: выбросы корональной массы(CME), солнечные вспышки(FLR), геомагнитные бури(GST) и тд. Также вы можете глянуть на фоточки с Марса, сделанные тремя известными марсоходами(хотя они и любят фотать один кадр по несколько раз…). Будьте в курсе важных событий из этой сферы и не забудьте заглянуть во вкладу «Новости», там вы также можете почитать последние, и нисколько не маловажные, новостные статьи(хоть и не я их писал :) ).
</p>
<p>
    Ну а пока наслаждайтесь астрономической картиной сегодняшнего дня(APOD)!
</p>

<h3>@Model.apod.name</h3>
<span>@Model.apod.explanation</span><br />
@*<span>@Model.TranslateText(APOD.explanation)</span><br />*@

<img class="img" src="@Model.apod.img_url" alt="Здесь должна быть APOD :)" />


